@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: white;
    --color-text-primary: black;
    --color-text-secondary: #D4D4D4;
    --color-button-bg: black;
    --color-button-text: white;
    --color-button-hover-bg: #333;
  }

  .dark {
    --color-background: #1a1a1a;
    --color-text-primary: white;
    --color-text-secondary: #a0a0a0;
    --color-button-bg: white;
    --color-button-text: black;
    --color-button-hover-bg: #e0e0e0;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-text-primary);
    transition: background-color 0.3s, color 0.3s;
  }

  .text-primary {
    color: var(--color-text-primary);
  }

  .text-secondary {
    color: var(--color-text-secondary);
  }
}
